:root {
  --input-border: #dfdfdf;
  --text_1: #222;
  --text_2: #444;

  --primary: #2ed951;
  --primary_hover: #5ced79;
  --bg_1: #fff;
  --bg-box: #efefef;

  --nav_1: #222222;
  --nav_2: #444444;

  --info: #1eb3c3;
  --error: #c71b1b;
  --success: #23a73e;
}
