<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__column">
      <div class="footer__header">Konto</div>
      <div class="footer__links">
        <a [routerLink]="['/panel-uzytkownika']">Moje konto</a>
        <a [routerLink]="['/ulubione']">Ulubione</a>
        <a>Poradniki</a>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__header">Kontakt</div>
      <div class="footer__links">
        <a href="tel:+48000000000">Tel. 784-880-031 </a>
        <a href="mailto:ngcommerce@gmail.com">sklep&commat;gmail.com</a>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__header">Social media</div>
      <div class="footer__links icons">
        <a href="" class="footer__icon"
          ><img src="../../../../assets/img/fb.svg" alt=""
        /></a>
        <a href="" class="footer__icon"
          ><img src="../../../../assets/img/in.svg" alt="" style="padding: 8px"
        /></a>
        <a href="" class="footer__icon"
          ><img src="../../../../assets/img/ig.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</footer>
